<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>100421858591-7tscvi2ah9mkb0v4hob2o0v7s7jmtava.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100421858591-7tscvi2ah9mkb0v4hob2o0v7s7jmtava</string>
	<key>API_KEY</key>
	<string>AIzaSyDJjNCzUY39m-WMgoqwRF1gbEnfwjT3KxY</string>
	<key>GCM_SENDER_ID</key>
	<string>100421858591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TestIgniteApp</string>
	<key>PROJECT_ID</key>
	<string>breach-5ea6b</string>
	<key>STORAGE_BUCKET</key>
	<string>breach-5ea6b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:100421858591:ios:66ef1e8afcfac512</string>
	<key>DATABASE_URL</key>
	<string>https://breach-5ea6b.firebaseio.com</string>
</dict>
</plist>
